:root {
    --form-background-color: rgb(253, 160, 174);
    --background-color: lightpink;
}

.contact-form {
    height: 500px;
    width: 30%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: var(--form-background-color);
    border-radius: 1%;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.contact-form input, .contact-form textarea {
    width: 90%;
    margin-top: 5px;
    background-color: rgb(253, 213, 219);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.contact-form label {
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2%;

    text-align: center;
}

.contact-info p {
    font-weight: 600;
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#message {
    height: 100%;
    margin-bottom: 10px;
}

#submit {
    width: auto;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .main-content {
        padding-top: 40px;
        flex-direction: column;
    }

    .contact-form {
        width: 60%;
        margin: 0;
    }
}