<div class="social-links">
    <a id="twitter-link" href="https://www.twitter.com/HenryAPereira" target="_blank" rel="noreferrer noopener">
        <img id="twitter-icon" src="img/twitter_icon.png" alt="">
    </a>
    <a id="linkedin-link" href="https://www.linkedin.com/in/henrypereira/" target="_blank" rel="noreferrer noopener">
        <img id="linkedin-icon" src="img/linkedin_icon.png" alt="">
    </a>
    <a id="github-link" href="https://github.com/HenryPereira" target="_blank" rel="noreferrer noopener">
        <img id="github-icon" src="img/github_icon.png" alt="">
    </a>
</div>